BookLibrary/ClientProxy/Service References/LibraryServiceReference/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILibraryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="900000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookLibrary.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_EnterLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterLibrary" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_EnterLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnterLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_TakeBook_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_TakeBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Leave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILibraryService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnterLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/EnterLibrary" message="tns:ILibraryService_EnterLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/EnterLibraryResponse" message="tns:ILibraryService_EnterLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/AddBook" message="tns:ILibraryService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AddBookResponse" message="tns:ILibraryService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBook" message="tns:ILibraryService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBookResponse" message="tns:ILibraryService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooks" message="tns:ILibraryService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksResponse" message="tns:ILibraryService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="TakeBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/TakeBook" message="tns:ILibraryService_TakeBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/TakeBookResponse" message="tns:ILibraryService_TakeBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/ReturnBook" message="tns:ILibraryService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ReturnBookResponse" message="tns:ILibraryService_ReturnBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/SaveChanges" message="tns:ILibraryService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/SaveChangesResponse" message="tns:ILibraryService_SaveChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Leave" message="tns:ILibraryService_Leave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/LeaveResponse" message="tns:ILibraryService_Leave_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILibraryService" type="tns:ILibraryService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILibraryService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="EnterLibrary">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/EnterLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/AddBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/TakeBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/ReturnBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/SaveChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="NetTcpBinding_ILibraryService" binding="tns:NetTcpBinding_ILibraryService">
      <soap12:address location="net.tcp://localhost:9000/service/wh" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/service/wh</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>